doctype html
html
  head
    title Arquivo Musical Digital da B.M. Vila Verde (Vnode)
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="w3-container")
      div(class="w3-bar  w3-teal w3-large")
        a(href='/' class="w3-bar-item w3-button w3-mobile") Arquivo BMVV
        a(href='/obras/lista' class="w3-bar-item w3-button w3-mobile") Obras
        a(href='/obras/por-instrumento' class="w3-bar-item w3-button w3-mobile") Obras/Instrumento
        a(href='/obras/por-categoria' class="w3-bar-item w3-button w3-mobile") Obras/Categoria
        a(href='/agenda' class="w3-bar-item w3-button w3-mobile") Agenda
        a(href='/reportorios' class="w3-bar-item w3-button w3-mobile") Reportórios
        a(href='/biblioteca' class="w3-bar-item w3-button w3-mobile") Biblioteca
    block content